@import "../../styles/variables";

.bonuses {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;

  &__lufthansa-logo {
    width: 120px;
    margin-top: 5px;
  }

  &__miles-and-more-logo {
    width: 120px;
    margin-top: 3px;
  }

  &__descriptions {

    &-item {
      padding-top: 12px;
      padding-bottom: 12px;
      background: #f4f4f4;
      position: absolute;
      bottom: 55px;
      right: 0;
      left: 0;
      opacity: 0;


      &-head {
        font-size: 36px;
        color: $brand-yellow;
        font-family: "HelveticaDLHCGH-Roman", Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: relative;
      }

      &-text {
        font-family: 'Lora-Regular', Arial, Helvetica, sans-serif;
        color: #333333;
        line-height: 1.4;
      }

      &-icon {
        position: relative;
        margin-right: 5px;
        top: 6px;
      }

      &-close {
        color: #979797;
        font-style: normal;
        font-family: Helvetica, sans-serif;
        right: 0;
        top: -4px;
        position: absolute;
        font-weight: 100;
        cursor: pointer;
      }
    }
  }

  &__list {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    background: #ebebeb;

    &-airplane {
      width: 32px;
      height: 31px;
      position: absolute;
      left: 10px;
      z-index: 5;
      top: 2px;
      transition: transform 1s;

      &_reverted {
        transform: scaleX(-1)
      }
    }

    &-bar {
      position: absolute;
      top: 16px;
      left: 0;
      height: 1px;
      border-bottom: 1px dotted #808080;
      width: 100%;
      z-index: 0;

      &:before {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 2px solid $brand-yellow;
        position: absolute;
        left: -10px;
        background: #ebebeb;
        top: -4px;
      }

      &:after {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 2px solid #808080;
        position: absolute;
        right: -10px;
        background: #ebebeb;
        top: -4px;
      }

      &_finished {
        &:after {
          border: 2px solid $brand-yellow;
        }
      }
    }

    &-seek {
      position: absolute;
      top: 16px;
      left: 0;
      height: 1px;
      border-bottom: 1px solid $brand-yellow;
      width: 0;
      z-index: 1;
      /*max-width: 673px;*/
    }

    &-item {
      display: inline-block;
      border-radius: 50%;
      background: #ffffff;
      position: relative;
      z-index: 1;
      margin: 0 20px;

      &_active {
        background: $brand-yellow;
      }

      &-icon {
        width: 25px;
        padding: 5px;
        vertical-align: top;
        cursor: pointer;
      }
    }
  }
}
