@import "../../styles/variables";

.hero-stat {
  background: url('./hero-stat.jpg') no-repeat center;
  background-size: cover;
  position: relative;

  &__hero {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &-name {
      font-size: 60px;
      line-height: 0.9;
      font-weight: bold;
      color: $brand-blue;
      margin-bottom: 40px;
      text-transform: uppercase;
      font-family: 'AkzidenzGroteskPro-Super', Arial, Helvetica, sans-serif;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: $brand-blue;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: 'AkzidenzGroteskPro-Bold', Arial, Helvetica, sans-serif;
  }

  &__item {
    color: $brand-blue;
    position: relative;
    margin-bottom: 40px;

    &-icon {
      width: 50px;
      height: 50px;
      margin-bottom: 15px;
    }

    &-count {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 7px;
      font-family: 'AkzidenzGroteskPro-Super', Arial, Helvetica, sans-serif;
    }

    &-reason {
      font-size: 16px;
      font-family: 'AkzidenzGroteskPro-Regular', Arial, Helvetica, sans-serif;
    }
  }

  &__block {
    position: relative;
    margin-bottom: 22px;

    &:first-child:after {
      content: '';
      display: block;
      border: 1px solid #8b8f93;
      position: absolute;
      right: -5px;
      top: 0;
    }



    &-items {
      display: table;
      width: 100%;


    }
  }
}

.step {
  &__miles-and-more {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;

  }

  &__miles-and-more-logo {
    width: 460px;
  }
}

