@import "../../styles/variables";

.paradox {
  height: 660px;
  background: url("./paradox-background.jpg") no-repeat center;
  background-size: cover;
  position: relative;

  &__overlay {
    background: rgba($brand-yellow, 0.9);
    padding-top: 27px;
    padding-bottom: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__text {
    &-title {
      font-size: 45px;
      line-height: 40px;
      margin-bottom: 28px;
      color: #ffffff;
      font-family: 'AkzidenzGroteskPro-Bold', Arial, Helvetica, sans-serif;
    }

    &-annotation {
      font-size: 16px;
      line-height: 1.2;
      font-family: 'Lora-Regular', Arial, Helvetica, sans-serif;
    }
  }
}
